nav {
    display: flex;
    padding: 0px 50px;
    background-color: rgba(211, 211, 211, 0.048);
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    color: white;
}
.topnav-left{
    display: flex;
    align-items: center;
}
.topnav-left img {
    width: 70px;
    height: 85px;
}
.topnav-left h2{
    font-size: 37px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 3px;
    margin-left: -10px;
}

.topnav-search {
    border: 1px solid white;
    border-radius: 23px;
    padding: 3px 9px;
    display: flex;
    align-items: center;
    width: 400px;
}

.topnav-search input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    padding: 8px;
    color: white;
}

.topnav-search button {
    border: none;
    background-color: transparent;
    color: white;
}


.topnav-right button {
    padding: 7px 17px;
    /* background-color: rgb(32, 199, 32); */
    background-color: transparent;
    outline: 2px solid white;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.topnav-right button:hover {
    color: black;
    background-color: white;
}